<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clarimire.mapper.WaterSituationMapper">
  
  <select id="findByReservoirNameAndDate" resultType="com.clarimire.entity.WaterSituation">
    SELECT * FROM water_situation
    <where>
      <if test="reservoirName != null and reservoirName != ''">
        AND reservoir_name LIKE CONCAT('%', #{reservoirName}, '%')
      </if>
      <if test="startDate != null and startDate != ''">
        AND DATE_FORMAT(date, '%Y-%m-%d') >= #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        AND DATE_FORMAT(date, '%Y-%m-%d') &lt;= #{endDate}
      </if>
    </where>
    ORDER BY date DESC
  </select>

  <select id="findByConditions" resultType="com.clarimire.entity.WaterSituation">
    SELECT * FROM water_situation
    <where>
      <if test="reservoirName != null and reservoirName != ''">
        AND reservoir_name LIKE CONCAT('%', #{reservoirName}, '%')
      </if>
      <if test="startDate != null and startDate != ''">
        AND DATE_FORMAT(date, '%Y-%m-%d') >= #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        AND DATE_FORMAT(date, '%Y-%m-%d') &lt;= #{endDate}
      </if>
      <if test="waterLevelMin != null">
        AND water_level >= #{waterLevelMin}
      </if>
      <if test="waterLevelMax != null">
        AND water_level &lt;= #{waterLevelMax}
      </if>
      <if test="storageMin != null">
        AND storage >= #{storageMin}
      </if>
      <if test="storageMax != null">
        AND storage &lt;= #{storageMax}
      </if>
      <if test="avgInflowMin != null">
        AND avg_inflow >= #{avgInflowMin}
      </if>
      <if test="avgInflowMax != null">
        AND avg_inflow &lt;= #{avgInflowMax}
      </if>
      <if test="avgOutflowMin != null">
        AND avg_outflow >= #{avgOutflowMin}
      </if>
      <if test="avgOutflowMax != null">
        AND avg_outflow &lt;= #{avgOutflowMax}
      </if>
      <if test="yoyIncreaseMin != null">
        AND yoy_increase >= #{yoyIncreaseMin}
      </if>
      <if test="yoyIncreaseMax != null">
        AND yoy_increase &lt;= #{yoyIncreaseMax}
      </if>
      <if test="totalCapacityMin != null">
        AND total_capacity >= #{totalCapacityMin}
      </if>
      <if test="totalCapacityMax != null">
        AND total_capacity &lt;= #{totalCapacityMax}
      </if>
      <if test="floodLevelMin != null">
        AND flood_level >= #{floodLevelMin}
      </if>
      <if test="floodLevelMax != null">
        AND flood_level &lt;= #{floodLevelMax}
      </if>
    </where>
    ORDER BY date DESC
  </select>

  <insert id="insert" parameterType="com.clarimire.entity.WaterSituation">
    INSERT INTO water_situation (reservoir_name, date, water_level, storage, avg_inflow, avg_outflow, yoy_increase, total_capacity, flood_level)
    VALUES (#{reservoirName}, #{date}, #{waterLevel}, #{storage}, #{avgInflow}, #{avgOutflow}, #{yoyIncrease}, #{totalCapacity}, #{floodLevel})
  </insert>

  <update id="update" parameterType="com.clarimire.entity.WaterSituation">
    UPDATE water_situation SET 
      reservoir_name = #{reservoirName},
      date = #{date},
      water_level = #{waterLevel},
      storage = #{storage},
      avg_inflow = #{avgInflow},
      avg_outflow = #{avgOutflow},
      yoy_increase = #{yoyIncrease},
      total_capacity = #{totalCapacity},
      flood_level = #{floodLevel}
    WHERE id = #{id}
  </update>

  <delete id="deleteById" parameterType="int">
    DELETE FROM water_situation WHERE id = #{id}
  </delete>

  <select id="findById" resultType="com.clarimire.entity.WaterSituation" parameterType="int">
    SELECT * FROM water_situation WHERE id = #{id}
  </select>

  <select id="findAll" resultType="com.clarimire.entity.WaterSituation">
    SELECT * FROM water_situation ORDER BY date DESC
  </select>
  
  <select id="countByReservoirName" resultType="int" parameterType="string">
    SELECT COUNT(*) FROM water_situation WHERE reservoir_name = #{reservoirName}
  </select>
  
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO water_situation (reservoir_name, date, water_level, storage, avg_inflow, avg_outflow, yoy_increase, total_capacity, flood_level)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.reservoirName}, #{item.date}, #{item.waterLevel}, #{item.storage}, #{item.avgInflow}, #{item.avgOutflow}, #{item.yoyIncrease}, #{item.totalCapacity}, #{item.floodLevel})
    </foreach>
  </insert>
  
</mapper> 